<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-mixpanel"
        version="2.1.0">

    <name>Mixpanel</name>

    <description>Mixpanel Cordova Plugin for iOS and Android (and Browser)</description>

    <repo>https://github.com/samzilverberg/mixpanel-cordova.git</repo>
    <author>Sam Zilverberg</author>
    <keywords>mixpanel, cordova, phonegap, ionic, plugin, ios, android</keywords>

    <engines>
        <engine name="cordova" version=">=3.5.0"/>
    </engines>

    <js-module src="www/mixpanel.js" name="Mixpanel">
        <clobbers target="mixpanel"/>
    </js-module>


    <platform name="android">

        <!-- config.xml -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Mixpanel">
                <param name="android-package" value="com.samz.cordova.mixpanel.MixpanelPlugin"/>
            </feature>
        </config-file>

        <!-- Plugin files -->
        <source-file src="src/android/MixpanelPlugin.java" target-dir="src/android"/>
        <source-file src="src/libs/mixpanel-android-4.7.0.jar" target-dir="libs/"/>

        <!-- AndroidManifest.xml -->
        <!-- see https://github.com/mixpanel/mixpanel-android/blob/master/src/main/AndroidManifest.xml -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>
    </platform>


    <platform name="ios">

        <!-- config.xml -->
        <config-file target="config.xml" parent="/*">
            <feature name="Mixpanel">
                <param name="ios-package" value="MixpanelPlugin"/>
            </feature>
        </config-file>

        <!-- Plugin files-->
        <header-file src="src/ios/MixpanelPlugin.h"/>
        <source-file src="src/ios/MixpanelPlugin.m"/>

        <!-- Mixpanel sdk files-->
        <header-file src="src/ios/Mixpanel/MPABTestDesignerChangeRequestMessage.h" />
        <header-file src="src/ios/Mixpanel/MPABTestDesignerChangeResponseMessage.h" />
        <header-file src="src/ios/Mixpanel/MPABTestDesignerClearRequestMessage.h" />
        <header-file src="src/ios/Mixpanel/MPABTestDesignerClearResponseMessage.h" />
        <header-file src="src/ios/Mixpanel/MPABTestDesignerConnection.h" />
        <header-file src="src/ios/Mixpanel/MPABTestDesignerDeviceInfoRequestMessage.h" />
        <header-file src="src/ios/Mixpanel/MPABTestDesignerDeviceInfoResponseMessage.h" />
        <header-file src="src/ios/Mixpanel/MPABTestDesignerDisconnectMessage.h" />
        <header-file src="src/ios/Mixpanel/MPABTestDesignerMessage.h" />
        <header-file src="src/ios/Mixpanel/MPABTestDesignerSnapshotRequestMessage.h" />
        <header-file src="src/ios/Mixpanel/MPABTestDesignerSnapshotResponseMessage.h" />
        <header-file src="src/ios/Mixpanel/MPABTestDesignerTweakRequestMessage.h" />
        <header-file src="src/ios/Mixpanel/MPABTestDesignerTweakResponseMessage.h" />
        <header-file src="src/ios/Mixpanel/MPAbstractABTestDesignerMessage.h" />
        <header-file src="src/ios/Mixpanel/MPApplicationStateSerializer.h" />
        <header-file src="src/ios/Mixpanel/MPClassDescription.h" />
        <header-file src="src/ios/Mixpanel/MPDesignerEventBindingMessage.h" />
        <header-file src="src/ios/Mixpanel/MPDesignerSessionCollection.h" />
        <header-file src="src/ios/Mixpanel/MPEnumDescription.h" />
        <header-file src="src/ios/Mixpanel/MPEventBinding.h" />
        <header-file src="src/ios/Mixpanel/MPLogger.h" />
        <header-file src="src/ios/Mixpanel/MPNotification.h" />
        <header-file src="src/ios/Mixpanel/MPNotificationViewController.h" />
        <header-file src="src/ios/Mixpanel/MPObjectIdentifierProvider.h" />
        <header-file src="src/ios/Mixpanel/MPObjectIdentityProvider.h" />
        <header-file src="src/ios/Mixpanel/MPObjectSelector.h" />
        <header-file src="src/ios/Mixpanel/MPObjectSerializer.h" />
        <header-file src="src/ios/Mixpanel/MPObjectSerializerConfig.h" />
        <header-file src="src/ios/Mixpanel/MPObjectSerializerContext.h" />
        <header-file src="src/ios/Mixpanel/MPPropertyDescription.h" />
        <header-file src="src/ios/Mixpanel/MPSequenceGenerator.h" />
        <header-file src="src/ios/Mixpanel/MPSurvey.h" />
        <header-file src="src/ios/Mixpanel/MPSurveyNavigationController.h" />
        <header-file src="src/ios/Mixpanel/MPSurveyQuestion.h" />
        <header-file src="src/ios/Mixpanel/MPSurveyQuestionViewController.h" />
        <header-file src="src/ios/Mixpanel/MPSwizzler.h" />
        <header-file src="src/ios/Mixpanel/MPTweak.h" />
        <header-file src="src/ios/Mixpanel/MPTweakInline.h" />
        <header-file src="src/ios/Mixpanel/MPTweakInlineInternal.h" />
        <header-file src="src/ios/Mixpanel/MPTweakStore.h" />
        <header-file src="src/ios/Mixpanel/MPTypeDescription.h" />
        <header-file src="src/ios/Mixpanel/MPUIControlBinding.h" />
        <header-file src="src/ios/Mixpanel/MPUITableViewBinding.h" />
        <header-file src="src/ios/Mixpanel/MPValueTransformers.h" />
        <header-file src="src/ios/Mixpanel/MPVariant.h" />
        <header-file src="src/ios/Mixpanel/MPWebSocket.h" />
        <header-file src="src/ios/Mixpanel/Mixpanel.h" />
        <header-file src="src/ios/Mixpanel/NSData+MPBase64.h" />
        <header-file src="src/ios/Mixpanel/NSInvocation+MPHelpers.h" />
        <header-file src="src/ios/Mixpanel/UIColor+MPColor.h" />
        <header-file src="src/ios/Mixpanel/UIImage+MPAverageColor.h" />
        <header-file src="src/ios/Mixpanel/UIImage+MPImageEffects.h" />
        <header-file src="src/ios/Mixpanel/_MPTweakBindObserver.h" />
        <source-file src="src/ios/Mixpanel/MPABTestDesignerChangeRequestMessage.m" />
        <source-file src="src/ios/Mixpanel/MPABTestDesignerChangeResponseMessage.m" />
        <source-file src="src/ios/Mixpanel/MPABTestDesignerClearRequestMessage.m" />
        <source-file src="src/ios/Mixpanel/MPABTestDesignerClearResponseMessage.m" />
        <source-file src="src/ios/Mixpanel/MPABTestDesignerConnection.m" />
        <source-file src="src/ios/Mixpanel/MPABTestDesignerDeviceInfoRequestMessage.m" />
        <source-file src="src/ios/Mixpanel/MPABTestDesignerDeviceInfoResponseMessage.m" />
        <source-file src="src/ios/Mixpanel/MPABTestDesignerDisconnectMessage.m" />
        <source-file src="src/ios/Mixpanel/MPABTestDesignerSnapshotRequestMessage.m" />
        <source-file src="src/ios/Mixpanel/MPABTestDesignerSnapshotResponseMessage.m" />
        <source-file src="src/ios/Mixpanel/MPABTestDesignerTweakRequestMessage.m" />
        <source-file src="src/ios/Mixpanel/MPABTestDesignerTweakResponseMessage.m" />
        <source-file src="src/ios/Mixpanel/MPAbstractABTestDesignerMessage.m" />
        <source-file src="src/ios/Mixpanel/MPApplicationStateSerializer.m" />
        <source-file src="src/ios/Mixpanel/MPBOOLToNSNumberValueTransformer.m" />
        <source-file src="src/ios/Mixpanel/MPCATransform3DToNSDictionaryValueTransformer.m" />
        <source-file src="src/ios/Mixpanel/MPCGAffineTransformToNSDictionaryValueTransformer.m" />
        <source-file src="src/ios/Mixpanel/MPCGColorRefToNSStringValueTransformer.m" />
        <source-file src="src/ios/Mixpanel/MPCGPointToNSDictionaryValueTransformer.m" />
        <source-file src="src/ios/Mixpanel/MPCGRectToNSDictionaryValueTransformer.m" />
        <source-file src="src/ios/Mixpanel/MPCGSizeToNSDictionaryValueTransformer.m" />
        <source-file src="src/ios/Mixpanel/MPClassDescription.m" />
        <source-file src="src/ios/Mixpanel/MPDesignerEventBindingRequestMesssage.m" />
        <source-file src="src/ios/Mixpanel/MPDesignerEventBindingResponseMesssage.m" />
        <source-file src="src/ios/Mixpanel/MPDesignerTrackMessage.m" />
        <source-file src="src/ios/Mixpanel/MPEnumDescription.m" />
        <source-file src="src/ios/Mixpanel/MPEventBinding.m" />
        <source-file src="src/ios/Mixpanel/MPNSAttributedStringToNSDictionaryValueTransformer.m" />
        <source-file src="src/ios/Mixpanel/MPNSNumberToCGFloatValueTransformer.m" />
        <source-file src="src/ios/Mixpanel/MPNotification.m" />
        <source-file src="src/ios/Mixpanel/MPNotificationViewController.m" />
        <source-file src="src/ios/Mixpanel/MPObjectIdentityProvider.m" />
        <source-file src="src/ios/Mixpanel/MPObjectSelector.m" />
        <source-file src="src/ios/Mixpanel/MPObjectSerializer.m" />
        <source-file src="src/ios/Mixpanel/MPObjectSerializerConfig.m" />
        <source-file src="src/ios/Mixpanel/MPObjectSerializerContext.m" />
        <source-file src="src/ios/Mixpanel/MPPassThroughValueTransformer.m" />
        <source-file src="src/ios/Mixpanel/MPPropertyDescription.m" />
        <source-file src="src/ios/Mixpanel/MPSequenceGenerator.m" />
        <source-file src="src/ios/Mixpanel/MPSurvey.m" />
        <source-file src="src/ios/Mixpanel/MPSurveyNavigationController.m" />
        <source-file src="src/ios/Mixpanel/MPSurveyQuestion.m" />
        <source-file src="src/ios/Mixpanel/MPSurveyQuestionViewController.m" />
        <source-file src="src/ios/Mixpanel/MPSwizzler.m" />
        <source-file src="src/ios/Mixpanel/MPTweak.m" />
        <source-file src="src/ios/Mixpanel/MPTweakInline.m" />
        <source-file src="src/ios/Mixpanel/MPTweakStore.m" />
        <source-file src="src/ios/Mixpanel/MPTypeDescription.m" />
        <source-file src="src/ios/Mixpanel/MPUIColorToNSStringValueTransformer.m" />
        <source-file src="src/ios/Mixpanel/MPUIControlBinding.m" />
        <source-file src="src/ios/Mixpanel/MPUIEdgeInsetsToNSDictionaryValueTransformer.m" />
        <source-file src="src/ios/Mixpanel/MPUIFontToNSDictionaryValueTransformer.m" />
        <source-file src="src/ios/Mixpanel/MPUIImageToNSDictionaryValueTransformer.m" />
        <source-file src="src/ios/Mixpanel/MPUITableViewBinding.m" />
        <source-file src="src/ios/Mixpanel/MPVariant.m" />
        <source-file src="src/ios/Mixpanel/MPWebSocket.m" />
        <source-file src="src/ios/Mixpanel/Mixpanel.m" />
        <source-file src="src/ios/Mixpanel/NSData+MPBase64.m" />
        <source-file src="src/ios/Mixpanel/NSInvocation+MPHelpers.m" />
        <source-file src="src/ios/Mixpanel/UIColor+MPColor.m" />
        <source-file src="src/ios/Mixpanel/UIImage+MPAverageColor.m" />
        <source-file src="src/ios/Mixpanel/UIImage+MPImageEffects.m" />
        <source-file src="src/ios/Mixpanel/UIView+MPHelpers.h" />
        <source-file src="src/ios/Mixpanel/UIView+MPHelpers.m" />
        <source-file src="src/ios/Mixpanel/_MPTweakBindObserver.m" />
        <resource-file src="src/ios/Mixpanel/MPNotification.storyboard" target-dir="Mixpanel"/>
        <resource-file src="src/ios/Mixpanel/MPSurvey.storyboard" target-dir="Mixpanel"/>

        <resource-file src="src/ios/Mixpanel/Media.xcassets" />


        <!-- Mixpanel sdk requires frameworks -->
        <!--see https://github.com/mixpanel/mixpanel-iphone/blob/master/Mixpanel.podspec-->
        <framework src="UIKit.framework"/>
        <framework src="Foundation.framework"/>
        <framework src="SystemConfiguration.framework"/>
        <framework src="CoreTelephony.framework"/>
        <framework src="Accelerate.framework"/>
        <framework src="CoreGraphics.framework"/>
        <framework src="QuartzCore.framework"/>
        <framework src="libicucore.dylib" />

        <!-- Additional for simulator -->
        <framework src="CFNetwork.framework"/>
        <framework src="Security.framework"/>

    </platform>


    <platform name="browser">

        <config-file target="config.xml" parent="/*">
            <feature name="Mixpanel">
                <param name="browser-package" value="MixpanelPlugin"/>
            </feature>
        </config-file>

        <js-module src="src/browser/MixpanelProxy.js" name="MixpanelProxy">
            <runs />
        </js-module>
        
        <asset src="src/browser/mixpanel-js-lib.js" target="plugins/cordova-plugin-mixpanel/src/browser/mixpanel-js-lib.js"/>
        
        
    </platform>

</plugin>
